#section_1 {
  padding-top: 5rem;
  margin: 1rem;
}

.tekst {
  padding-bottom: 1rem;
}

h3 {
  margin: 1rem;
}

h4 {
  margin: 1rem;
}

.video {
  border: none;
}

@media (min-width: 600px) {
  #section_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 5rem;
    margin-bottom: 10rem;
  }

  /* .tekst {
        grid-column: 1;
      } */

  h3 {
    margin: 1rem;
  }

  h4 {
    margin: 1rem;
  }

  #section_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 5rem;
    margin: 1rem;
    margin-bottom: 10rem;
  }
}
