body {
  height: 100vw;
  width: 100vw;
}

#section_1 {
  padding-top: 5rem;
  margin: 1rem;
}

@media (min-width: 600px) {
  .titel {
    font-size: 8rem;
  }

  h1:hover {
    color: yellow;
  }
}

#videoBG {
  position: fixed;
  z-index: -1;
  filter: opacity(40%);
}
@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}
@media (max-width: 767px) {
  #videoBG {
    display: none;
  }
  body {
    background: url(/billeder/baggrundsbillede.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #0e0e0e;
  }
}
